<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--this format only needed for any files that we actually own within our workspace or project, including images and links-->
    <title>Task Manager</title>
</head>

<body>
    <header>
        <!--normal navbar-->
        <nav class="light-orange darken-1">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Task Manager</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('add_task')}}">New Task</a></li>
                    <li><a href="{{ url_for('categories')}}">Categories</a></li>
                </ul>
            </div>
        </nav>
        <!--mobile navbar-->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('add_task')}}">New Task</a></li>
            <li><a href="{{ url_for('categories')}}">Categories</a></li>
        </ul>
    </header>
    <main class="container">
        {% block content %}
        <!--this is where the content of the other pages will be inserted everything outside is copied over for convienence-->
        {% endblock %}
    </main>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © <span id="current-year"></span> Max.W - Code Institute
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!--this format only needed for any files that we actually own within our workspace or project, including images and links-->
</body>

</html>